<div class="flex flex-col cursor-default">
  <div class="hero_">
    <img class="w-full h-full object-cover" src="assets/images/home.jpg" alt="Alba Careta">
    <h1>{{elements.h1}}</h1>
    <div class="flex flex-row-reverse items-center absolute top-12 right-16">
      <div class="menu_">
        <div class="menu_line_ mb-2.5"></div>
        <div class="menu_line_ mb-2.5"></div>
        <div class="menu_line_"></div>
      </div>
      <div class="flex mr-8">
        <div class="lang_item_ mr-3">Ca</div>
        <div class="lang_item_ mr-3">Es</div>
        <div class="lang_item_">En</div>
      </div>
    </div>
    <div class="hero_link_ absolute bottom-8 left-16">{{elements.hero_01[lang]}}</div>
    <div class="hero_link_ absolute bottom-8 right-16">{{elements.hero_02[lang]}}</div>
  </div>
</div>
