.hero_ {
  @apply flex flex-col relative w-full overflow-hidden;
  height: 100vh;
  max-height: 1178px;
  color: white;
}
.hero_ h1 {
  @apply absolute top-12 left-16;
  font-family: manrope_regular, sans-serif;
  font-size: 15.48vw;
  line-height: 12.08vw;
  white-space: pre-line;
}
.menu_ {
  @apply flex flex-col cursor-pointer;
}
.menu_line_ {
  width: 36px;
  height: 1px;
  background-color: white;
}
.lang_item_ {
  @apply cursor-pointer;
  font-family: manrope_regular, sans-serif;
  font-size: 16px;
}
.hero_link_ {
  @apply cursor-pointer;
  font-family: manrope_regular, sans-serif;
  font-size: 22px;
}
.arrow_ {
  @apply absolute bottom-8;
  left: 50%;
  transform: translateX(-50%);
}
