<div class="flex flex-col cursor-default overflow-hidden" #home>
  <div class="hero_">
    <img class="w-full h-full object-cover" src="assets/images/home.jpg" alt="Alba Careta">
    <h1>{{elements.h1}}</h1>
    <div class="hero_menu_">
      <app-menu></app-menu>
    </div>
    <div class="hero_link_ absolute bottom-8" id="hero_link_left"
         (mouseenter)="elementsAnimation(0, escolta)"
         (mouseleave)="elementsAnimation(1, escolta)" #escolta>{{elements.hero_01[lang]}}</div>
    <div class="hero_link_ absolute bottom-8" id="hero_link_right"
         (click)="navigateToConcerts()"
         (mouseenter)="elementsAnimation(0, concerts)"
         (mouseleave)="elementsAnimation(1, concerts)" #concerts>{{elements.hero_02[lang]}}</div>
    <img class="arrow_" src="assets/images/arrow.svg" alt="">
  </div>
  <div class="concerts_">
    <ul class="concerts_list_">
      <ng-container *ngFor="let item of concertsArray">
        <div class="concert_item_">
          <div class="flex mt-6">
            <div class="flex flex-col">
              <div class="concert_item_date_">{{item['date']['seconds'] * 1000 | date:'dd.MM.yyyy'}}</div>
              <div class="concert_item_date_">{{item['time']}}</div>
            </div>
            <div class="flex flex-col ml-20">
              <h3>{{item['title']}}</h3>
              <h4>{{item['place']}}</h4>
            </div>
          </div>
          <div class="concert_item_info_"
               (mouseenter)="elementsAnimation(0, info)"
               (mouseleave)="elementsAnimation(1, info)" #info>info</div>
        </div>
      </ng-container>
    </ul>
    <div class="concerts_link_"
         (click)="navigateToConcerts()"
         (mouseenter)="elementsAnimation(0, concerts_link)"
         (mouseleave)="elementsAnimation(1, concerts_link)" #concerts_link>{{elements.concerts_01[lang]}}</div>
  </div>
  <div class="projectes_" #projectes>
    <div class="projectes_container_" #projectes_container>
      <ng-container *ngFor="let item of projectesArray; index as i">
        <div class="projecte_" [ngClass]="[i == 0? 'projecte_0_': '']">
          <div class="projecte_image_placeholder_">
            <img class="h-full" src="{{item['image']}}" alt="{{item['title']}}">
          </div>
          <h2>{{item['title']}}</h2>
        </div>
      </ng-container>
    </div>
  </div>
  <app-footer #footer></app-footer>
  <app-navigation></app-navigation>
</div>

