.layout_ {
  @apply flex flex-col w-full;
  // min-height: 640px;
}
.top_ {
  @apply flex flex-col items-center w-full text-white;
  height: 100vh;
  max-height: 954px;
}
.top_image_ {
  @apply absolute w-full h-full top-0 left-0 object-cover;
}
h1 {
  @apply absolute top-11;
  left: 5vw;
  font-size: 64px;
  font-weight: 400;
}
.top_menu_ {
  @apply absolute mt-12 z-30;
  right: 5vw;
}
h2 {
  @apply absolute;
  top: 48%;
  left: 49%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 160px;
}
.list_ {
  @apply flex flex-col absolute opacity-0;
  top: 168px;
  left: 5vw;
  font-size: 64px;
  font-weight: 400;
  white-space: nowrap;
}
.list_ li {
  @apply cursor-pointer;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
}
.arrow_left_ {
  @apply absolute bottom-12 opacity-25;
  width: 32px;
  left: 5vw;
}
.arrow_right_ {
  @apply absolute bottom-12;
  width: 32px;
  right: 5vw;
}
