<div class="layout_">
  <div class="top_">
    <img class="top_image_" src="assets/images/projectes.jpg" alt="Projectes - Alba Careta">
    <h1>Projectes</h1>
    <div class="top_menu_">
      <app-menu></app-menu>
    </div>
    <ul class="list_" #list>
      <ng-container *ngFor="let item of projectes[projectesIndex]">
        <li (mouseenter)="elementsAnimation(0, projecte)"
            (mouseleave)="elementsAnimation(1, projecte)" #projecte>{{item['title']}}</li>
      </ng-container>
    </ul>
    <img class="arrow_left_" src="assets/images/arrow_left.svg" alt=""
         (click)="navigateProjectes('left')" #arrow_left>
    <img class="arrow_right_" src="assets/images/arrow_right.svg" alt=""
         (click)="navigateProjectes('right')" #arrow_right>
  </div>
</div>
<app-navigation></app-navigation>
