/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "manrope_regular";
  src: url("assets/fonts/Manrope-Regular.woff") format("woff");
}

html, body {
  height: 100%;
  font-family: 'Manrope', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #446897;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
:focus {
  outline: none;
}
