.layout_ {
  @apply flex flex-row-reverse items-center text-white;
  /*@apply flex flex-row-reverse items-center absolute top-12 z-50 text-white;
  right: 4.8vw;*/
}
.menu_ {
  @apply flex flex-col relative cursor-pointer;
}
.menu_line_ {
  width: 36px;
  height: 1px;
  background-color: white;
}
.menu_cross_line_ {
  @apply absolute top-1/2 left-1/2;
  width: 36px;
  height: 1px;
  background-color: white;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  opacity: 0;
}
.lang_item_ {
  @apply cursor-pointer;
  font-family: manrope_regular, sans-serif;
  font-size: 16px;
  text-underline-offset: 6px;
}
